
.novartis__wrapper {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-feature-settings: "calt" 0, "kern" 1;
    font-variant-ligatures: none;
    font-kerning: auto !important;
 }
 
 *, *:before, *:after {
   box-sizing: inherit;
 }
 
 *, :after, :before , *:after, *:before {
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $font-size-base;
    line-height: $headings-line-height;
    font-weight: $font-weight-base;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover{
      text-decoration: none;
      color: inherit;
    }
  }

  p {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
  }

  dt {
    font-weight: normal;
  }

  button {
    outline: none;
    border: none;
    background-color: transparent;
  }

}