@font-face {
    font-family: 'GeoMedium';
    src: url('../assets/fonts/Geograph-Medium.eot');
    src: url('../assets/fonts/Geograph-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Geograph-Medium.woff2') format('woff2'),
        url('../assets/fonts/Geograph-Medium.woff') format('woff'),
        url('../assets/fonts/Geograph-Medium.ttf') format('truetype'),
        url('../assets/fonts/Geograph-Medium.svg#Geograph-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GeoBold';
    src: url('../assets/fonts/Geograph-Bold.eot');
    src: url('../assets/fonts/Geograph-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Geograph-Bold.woff2') format('woff2'),
        url('../assets/fonts/Geograph-Bold.woff') format('woff'),
        url('../assets/fonts/Geograph-Bold.ttf') format('truetype'),
        url('../assets/fonts/Geograph-Bold.svg#Geograph-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GeoLight';
    src: url('../assets/fonts/Geograph-Light.eot');
    src: url('../assets/fonts/Geograph-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Geograph-Light.woff2') format('woff2'),
        url('../assets/fonts/Geograph-Light.woff') format('woff'),
        url('../assets/fonts/Geograph-Light.ttf') format('truetype'),
        url('../assets/fonts/Geograph-Light.svg#Geograph-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GeoRegular';
    src: url('../assets/fonts/Geograph-Regular.eot');
    src: url('../assets/fonts/Geograph-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Geograph-Regular.woff2') format('woff2'),
        url('../assets/fonts/Geograph-Regular.woff') format('woff'),
        url('../assets/fonts/Geograph-Regular.ttf') format('truetype'),
        url('../assets/fonts/Geograph-Regular.svg#Geograph-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}