




/**
Interview - Article 1
*/
.solan__patricia__content--ask {
    font-family: GeoMedium;
    display: block;
    margin-top: 2.3rem;
}
.interview-content {
    width: 75vw;
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
    margin-bottom:9rem;
    align-items: center;
}
.interview-content-text {
    width: 73vw !important;
    line-height: 1.75rem;
    font-size: 1.05rem;
    letter-spacing: .07rem;
}

.interview-avatar {
    align-self:flex-start;
}

.solan__header__interview {
    width: 100vw;
    height: 100%;
    padding: 3.2rem 5rem;
}
.solan__header__interview--type {
    text-transform: uppercase;
    font-family: GeoLight;
    font-size: 1.15rem;
}
.solan__header__interview--title h1 {
    text-transform: unset;
    color: black;
    letter-spacing: .15rem;
    margin-top: .4rem;
    margin-bottom: .3rem;
    font-size: 2.65rem;
}
.solan__header__interview--subtitle {
    font-family: GeoRegular;
    font-size: 1.9rem;
    letter-spacing: .113rem;
}
.solan__header__interview--portrait {
    width: 100vw;
    height: auto;
}


/**
Experience - Article 2
*/
.experience-main {
    margin-top:-.5rem;
    margin-bottom: 6rem;
    width:min-content;
    margin-left: 50%;
    transform: translateX(-50%);
}
.experience-main article {
    width:100% !important;
}
.experience-main p {
    font-size: 1rem;
    line-height: 1.6rem;
}
.experience-main__content p {
    margin-bottom: 1.7rem;
    line-height:1.5rem;
}
.experience-main__content {
    width: 77vw !important;
    margin:0 !important;
}


.experience--title {
    width:76vw;
}


/**
Video Popup
*/
.solan-videopopup {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .85);
    position: fixed;
    z-index: 100;
    display: none;
}

.solan-videopopup--close {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
}

.solan-videopopup--close div {
    position: absolute;
    top: 45px;
    right: 45px;
    color: white;
    font-family: GeoLight;
    font-size: 3rem;
}
.solan-videopopup--close div:hover {
    cursor: pointer;
}

.solan-videopopup--content {
    position: relative;
    width: 80%;
    height: max-content;
    margin-top:50vh;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}

.solan-videopopup--content video {
    height: auto;
    width: 80vw;
    pointer-events: all;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}
.solan-videopopup--content video:hover {
    cursor: pointer;
}

/**
Participa Pop-up
*/
.participa-popup {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .65);
    width: 100vw;
    height: 100%;
    position: fixed;
    display: none;
}

.participa-popup__content {
    background-color: black;
    width: 50vw;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: GeoRegular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.participa-popup__content__copy {
    color:  white;
    width: 80%;
}

.participa-popup__content__copy a {
    text-decoration: none;
    color: inherit;
}
.participa-popup__content__cta {
    margin-top: 2rem;
}

.participa-popup__content__cta:hover {
    cursor: pointer;
}

/**
Media queries / Breakpoints
*/

@media(max-width: 1023px) {
    .headers-container {
        height: 7.6rem;
    }
}

@media (max-width: 950px) {
    .solan__articles__showcase {
        flex-wrap : wrap;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .solan__articles__showcase--one,
    .solan__articles__showcase--two {
        max-width: 30rem;
        width:unset;
        margin:0;
        margin-top: 2.8rem;
    }
}
  
@media (max-width: 800px) {
    .solan__banner span {
        font-size: .6rem;
        width: 100%;
    }
    .solan__bigarticle__content, .solan__laura__content {
        width: 90%;
    } 
    .solan__bigarticle__content--title {
        font-size: 1.6rem;
    }
    .solan__bigarticle__content--pg, .solan__laura__content--bio { 
        width: 100% !important;
        margin: 0;
    }

    .solan-videopopup--content {
        position: absolute;
        width: 100%;
        height: max-content;
        margin-top: 50vh;
        margin-left: 50%;
        transform: translate(-50%,-50%);
    }
    .solan-videopopup--content video {
        width: 100vw;
        height: auto;
    }
    .fix-player img {
        /* width: 70%; */
        width:130px !important;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .participa-popup__content {
        width: 95vw;
        height: max-content;
        font-size: .85rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}


@media (max-width: 650px) {
    .solan__header h1 {
        font-size: 2.2rem;
    }
    .solan__header__content--cta {
        width: 18.4rem;
    }
    .solan__header__content--subtitle {
        font-size: .6rem;
        width: 80vw;
    }



    .solan__header__interview {
        padding: 3.2rem 2.5rem;
    }
    .solan__header__interview--type {
        font-size: .95rem;
    }
    .solan__header__interview--title h1 {
        font-size: 1.65rem;
        line-height: 2.15rem;
    }
    .solan__header__interview--subtitle {
        font-size: 1.25rem;
    }
    .interview-content-text, .experience-main p {
        font-size: .85rem;
    }
    .experience-main__content {
        width: 87vw !important;
    }

    
}
  
