/**
Nato geo pre-layout
**/
.headers-container {
  width: 100vw;
  height: 5rem;
  background-color: rgb(255, 231, 195);
  position: relative;
}

.block-nationalgeographicfooterblock {
  width: 100vw;
  height: 23rem;
  background-color: rgb(255, 231, 195);
  position: relative;
}

.placeholder {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.placeholder img {
  width: 100%;
}

/**
Global
*/

.novartis__wrapper {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  font-family: $font-family-base;
  color: $primary;
  background-color: $secondary;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
}

.novartis__container {
  margin-left: auto;
  margin-right: auto;
  padding: $--spacing-m;

  @include media-breakpoint-up(md) {
    max-width: 950px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1200px;
  }
}