ç<section class="novartis__articles">
    <div class="novartis__articles__content">
        <div class="novartis__articles__content--logo">
            <picture alt="Novartis - Logo Oficial">
                {# <source srcset="/./assets/images/novartis-logo.webp" type="image/webp" loading="lazy"> #}
                <img src="././assets/images/novartis-logo.png" loading="lazy">
            </picture>
        </div>
        <div class="novartis__articles__showcase">
            <div class="novartis__articles__showcase--one">
                <a href="articles/articulo1">
                    <div class="novartis__article__thumb thumb-one"></div>
                    <div class="novartis__article__foot">Entrevista</div>
                    <div class="novartis__article__title">REDESCUBRIENDO LA MEDICINA</div>
                    <div class="novartis__article__subtitle">Entrevista a Javier Malpesa, Jefe de Monitorización en Ensayos Clínicos.</div>
                </a>
            </div>
            <div class="novartis__articles__showcase--two">
                <a href="articles/articulo2">
                    <div class="novartis__article__thumb thumb-two"></div>
                    <div class="novartis__article__foot">CONTENIDO DE MARCA</div>
                    <div class="novartis__article__title">TERAPIAS AVANZADAS</div>
                    <div class="novartis__article__subtitle">¿Qué es la medicina personalizada? Profundizando en las terapias génicas y celulares.</div>
                </a>
            </div>
            <div class="novartis__articles__showcase--three">
                <a href="articles/articulo3">
                    <div class="novartis__article__thumb thumb-three"></div>
                    <div class="novartis__article__foot">CONTENIDO DE MARCA</div>
                    <div class="novartis__article__title">TERAPIAS DIRIGIDAS</div>
                    <div class="novartis__article__subtitle">Entrevista a Javier Malpesa, Jefe de Monitorización en Ensayos Clínicos.</div>
                </a>
            </div>
        </div>
        <div class="novartis__articles__content--divider"></div>
    </div>
</section>