<section class="novartis__cases novartis__container">
    {% for item in cases.people %}
        <article data-video="{{loop.index}}" class="novartis__cases__col">
            <div class="novartis__cases__avatar">
                <picture alt="{{item.title}}{{item.subtitle}}">
                    {# <source srcset="../assets/images/laura.webp" type="image/webp" loading="lazy"> #}
                    <img src="{{item.img}}" loading="lazy" >
                </picture>
            </div>
            <div class="novartis__cases__name"><h2>{{item.title}}</h2><p>{{item.subtitle}}</p></div>
            <div class="novartis__cases__bio">
                <p>{{item.text}}</p>
            </div>
            {% include "playerbtn-mini.njk" %}
        </article>
    {% endfor %}
</section>