<section class="novartis__cases novartis__container">
    {% for item in cases.people %}
        <article data-video="{{loop.index}}" class="novartis__cases__col">
            <div class="novartis__cases__avatar">
                {% image "./src/assets/images/"+item.img|safe , "img-fit", item.title, "(min-width: 30em) 50vw, 100vw" , "lazy" %}
            </div>
            <div class="novartis__cases__name"><h2>{{item.title}}</h2><p>{{item.subtitle}}</p></div>
            <div class="novartis__cases__bio">
                <p>{{item.text}}</p>
            </div>
            {% include "playerbtn-mini.njk" %}
        </article>
    {% endfor %}
</section>