<section class="novartis__cases">
    <article class="novartis__cases__col">
        <div class="novartis__cases__avatar">
            <picture alt="Laura Domingo - Doctora en Geología e Investigadora del CSIC">
                {# <source srcset="../assets/images/laura.webp" type="image/webp" loading="lazy"> #}
                <img src="./assets/images/jose-maria.jpg" loading="lazy" >
            </picture>
        </div>
        <div class="novartis__cases__name"><h2>José María</h2><p>Terapia Celular</p></div>
        <div class="novartis__cases__bio">
            <p>José María es un niño de diez años nacido con Síndrome de Down. En mayo de 2016 le diagnostican leucemia linfoblástica aguda, un tipo de cáncer potencialmente mortal que afecta a la sangre y la médula ósea. Un innovador ensayo clínico, basado en la terapia celular individualizada, permite dotarle de sus propias defensas para combatir la enfermedad.</p>
        </div>
        <button class="novartis__cases__play">
            <img src="./assets/images/play.svg" loading="lazy" >
        </button>
    </article>
    <article class="novartis__cases__col">
    <div class="novartis__cases__avatar">
        <picture alt="Laura Domingo - Doctora en Geología e Investigadora del CSIC">
            {# <source srcset="../assets/images/laura.webp" type="image/webp" loading="lazy"> #}
            <img src="./assets/images/noa.jpg" loading="lazy" >
        </picture>
    </div>
    <div class="novartis__cases__name"><h2>Noa</h2><p>Terapia Génica</p></div>
    <div class="novartis__cases__bio">
        <p>Noa es una niña de 13 años nacida con una distrofia hereditaria de la retina, una enfermedad que provoca la pérdida progresiva y severa de la visión. Una revolucionaria terapia génica, consistente en reemplazar el gen mutado o afectado por una copia funcional, permite no sólo frenar el avance degenerativo, sino mejorar su visión central y periférica.</p>
    </div>
    <button class="novartis__cases__play">
            <img src="./assets/images/play.svg" loading="lazy" >
        </button>
    </article>
        <article class="novartis__cases__col">
        <div class="novartis__cases__avatar">
            <picture alt="Laura Domingo - Doctora en Geología e Investigadora del CSIC">
                {# <source srcset="../assets/images/laura.webp" type="image/webp" loading="lazy"> #}
                <img src="./assets/images/alberto.jpg" loading="lazy" >
            </picture>
        </div>
        <div class="novartis__cases__name"><h2>Alberto</h2><p>Tecnología y Prevención</p></div>
        <div class="novartis__cases__bio">
            <p>Alberto ha enfrentado y superado el melanoma, el tipo más grave de cáncer de piel, hasta en tres ocasiones. Una enfermedad compleja para la cual resulta fundamental una detección precoz de la misma. La revolución tecnológica y digital actual permite, no sólo personalizar aún más los tratamientos o terapias, sino también llevar a cabo una mejor prevención.</p>
        </div>
        <button class="novartis__cases__play">
            <img src="./assets/images/play.svg" loading="lazy" >
        </button>
    </article>
</section>