<div class="novartis__video__playbtn">
    <svg width="153" height="153" viewBox="0 0 153 153" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle class="oval-outside" opacity="0.111328" cx="76.5" cy="76.5" r="76.5" fill="white"/>
    <circle class="oval-inside" cx="76.5" cy="76.5" r="38.25" fill="#FFCC01"/>
    <path class="play-arrow" fill-rule="evenodd" clip-rule="evenodd" d="M90 76.5L69.75 88.1913V64.8087L90 76.5Z" fill="black"/>
    </svg>
</div>