<div class="novartis__gallery novartis__container">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for item in slider.gallery %}
                <div class="swiper-slide">
                    {% if loop.first %}
                        <div class="swiper-image">
                            <picture><img loading="lazy" src="{{item.img}}"></picture>
                        </div>
                    {% else %}
                        <div class="swiper-image">
                            <picture><img class="" src="{{item.img}}"></picture>
                        </div>
                    {% endif %}
                    <p>{{item.title}}</p> 
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
