<div class="novartis__gallery novartis__container">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for item in slider.gallery %}
                <div class="swiper-slide">
                    <div class="swiper-image">
                        <picture>
                            <img loading="lazy" src="{{item.img}}">
                        </picture>
                    </div>
                    <p>{{item.title}}</p> 
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
