<div class="solan-videopopup">
    <div class="solan-videopopup--close" aria-label="Close" role="close">
        <div>X</div>
    </div>
    <div class="solan-videopopup--content">
                <video poster="./assets/images/interview-bg.jpg" controls muted alt="Vídeo Solán de Cabras" preload="auto" >
                    <source src="./assets/images/video-solan.mp4" type="video/mp4" >
                    <source src="./assets/images/video-solan.webm" type="video/webm" >
                    <source src="./assets/images/video-solan.m4v" type="video/m4v" >
                    Your browser does not support the video tag.
                </video> 
                <div class="solan__video__content__playbtn fix-player">
                    <img src="./assets/images/player.svg" loading="lazy" alt="Play" width="180px">
                </div>
    </div>
</div>