
.novartis__wrapper {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

/** 
Banner
*/

.novartis__banner {
    width: 100%;
    height: 2.6rem;
    background-color: #222222;
    position: relative;
}

.novartis__banner span {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-family: GeoMedium;
    letter-spacing: .12rem;
}

