---
layout: base
eleventyNavigation:
  key: Home
---

<div class="novartis__wrapper">
    {% include "banner.njk" %}
    {% include "header.njk" %}
    {% include "cases.njk" %}
    {% include "slider.njk" %}
    {% include "articles.njk" %}
    {% include "videopopup.njk" %}
</div>
