---
layout: base
---

<div class="novartis__wrapper">
    {% include "banner.njk" %}
    <section class="novartis__header__article">
        <div class="novartis__header__article novartis__container">
            <div class="novartis__header__article--type">
                <h4>{{foot}}</h4>
            </div>
            <div class="novartis__header__article--title">
                <h1>{{title}}</h1>
            </div>
            <div class="novartis__header__article--subtitle">
                <h6>{{subtitle}}</h6>
            </div>
        </div>
    </section>
        {% if videoMp4  %}
            <section class="novartis__article__header__video novartis__video">
                    <video poster="{{videoCover}}" loading="lazy" alt="{{videoAlt}}" muted preload="auto" >
                        <source src="{{videoMp4}}" type="video/mp4" >
                        <source src="{{videoWebm}}" type="video/webm" >
                        {# <source src="./assets/images/solan-cabras.m4v" type="video/m4v" > #}
                        Your browser does not support the video tag.
                    </video> 
                    {% include "playerbtn.njk" %}
            </section>
        {% endif %}
        {% if heroImage %}
            <section class="novartis__article__header__image">
                <picture>
                    <img src="{{heroImage}}" alt="{{heroImageAlt}}">
                </picture>
            </section>
        {% endif %}
        <article class="novartis__article__content novartis__container">
            {{content|safe}}
        </article>
</div>
                                            